:root {
    --primary-blue: #1a75ffff;
    --primary-white: #ffffffff;
    --primary-black: rgb(18, 18, 18);
    --secondary-black: #222222ff;
    --tertiary-black: #3e3e3eff;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-black);
    color: var(--primary-white);
    scroll-behavior: smooth;
}
h1 {
    font-size: 3.0rem;
    font-weight: bold;
}
h2 {
    font-size: 2.0rem;
    font-weight: bold;
}
h3 {
    font-size: 2.0rem;
    font-weight: bold;
}
p {
    font-size: 1.6rem;
}
span {
    font-size: 1.4rem;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--secondary-black);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-size: 2rem;
    color: var(--primary-white);
}
header .logo span {
    color: var(--primary-white);
}
header .navbar a {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--primary-white);
}
header .navbar a:hover {
    color: var(--primary-white);
}
header input {
    display: none;
}
header label {
    font-size: 3rem;
    color: var(--primary-white);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
section {
    background-color: var(--secondary-black);
    border-radius: 10px;
    min-width: 290px;
    margin: 1.5rem 1.5rem;
}
.presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0px 20px 0px;
    text-align: center;
}
.presentation__photo {
    width: 250px;
    border-radius: 50%;
    align-self: center;
}
.presentation__me {
    margin: 10px 0px 0px 0px;
}
.presentation__profession {
    font-size: 1.8rem;
    color: rgb(216, 216, 216);
}
.presentation__content {
    margin: 0.4rem 0.4rem;
}
.presentation__actions button {
    color: var(--primary-white);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 2.5px;
    border: none;
    width: 45%;
    height: 30px;
    max-width: 230px;
}
.presentation__actions--contact {
    background-color: var(--primary-blue);
}
.presentation__actions--message {
    background-color: var(--tertiary-black);
}
.presentation__divisions {
    width: 90%;
    margin: 15px 0px -15px 0px;
    align-self: center;
}
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}
.main__division {
    align-self: center;
    background-color: var(--primary-black);
    border-color: var(--primary-white);
    border-style: none;
    border-top-style: solid;
    border-width: 0.5px;
    width: 90%;
    margin: 5px 5px;
}
.points__division{
    align-self: center;
    background-color: var(--primary-black);
    border-color: var(--primary-white);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}
.about__socialmedia {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.about__picture {
    width: 20%;
}
.about__link {
    width: 80%;
    color: var(--primary-white);
    display: flex;
    justify-content: flex-start;
}
.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}
.skills__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.skills__picture {
    width: 20%;
}
.skills__text {
    width: 80%;
    color: var(--primary-white);
    display: flex;
    justify-content: flex-start;
}
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}
.experience__content {
    margin: 10px 10px;
    text-align: start;
}
.education {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}
.education__content {
    margin: 10px 10px;
    text-align: center;
}
.education__content--min {
    font-size: 1.5rem;
}
.certifications {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}
@media (max-width:768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: var(--primary-blue);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label::before {
        content: '\f00d';
        opacity: 1;
    }
}