:root {
    --primary-blue: #1a75ffff;
    --primary-white: #ffffffff;
    --primary-black: black;
    --secondary-black: #222222ff;
    --tertiary-black: #3e3e3eff;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-black);
    color: var(--primary-white);
    scroll-behavior: smooth;
}
h1 {
    font-size: 2.6rem;
    font-weight: bold;
}
h2 {
    font-size: 2.4rem;
    font-weight: bold;
}
h3 {
    font-size: 2.0rem;
    font-weight: bold;
}
p {
    font-size: 1.8rem;
}
span {
    font-size: 1.4rem;
}
a {
    text-decoration: none;
}
section {
    background-color: var(--secondary-black);
    border-radius: 10px;
    margin: 5px 5px 15px 5px;
}
.presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 540px;
    text-align: center;
}
.presentation__photo {
    width: 250px;
    border-radius: 50%;
    align-self: center;
}
.presentation__me {
    margin: 10px 0px 0px 0px;
}
.presentation__content {
    margin: 10px 10px;
}
.presentation__actions button {
    color: var(--primary-white);
    border-radius: 5px;
    margin: 2.5px;
    border: none;
    width: 45%;
    height: 30px;
    max-width: 230px;
}
.presentation__actions--contact {
    background-color: var(--primary-blue);
}
.presentation__actions--message {
    background-color: var(--tertiary-black);
}
.presentation__divisions {
    width: 90%;
    margin: 15px 0px -15px 0px;
    align-self: center;
}
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 240px;
    text-align: center;
}
.about__divisions {
    width: 90%;
    align-self: center;
    margin: 5px 5px;
}
.about__socialmedia {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.about__picture {
    width: 20%;
}
.about__link {
    width: 80%;
    color: var(--primary-white);
    display: flex;
    justify-content: flex-start;
}
.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 420px;
    text-align: center;
}
.skills__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.skills__picture {
    width: 20%;
}
.skills__text {
    width: 80%;
    color: var(--primary-white);
    display: flex;
    justify-content: flex-start;
}
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 2000px;
    text-align: center;
}
.education {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 360px;
    text-align: center;
}
.certifications {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 360px;
    text-align: center;
    margin: 5px 5px;
}